name: ci

on: push

env:
  t_version: "0.0.1"

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: ubuntu:20.04

    steps:
    - uses: actions/checkout@v2

    - name: prepare system
      run: |
        export DEBIAN_FRONTEND=noninteractive
        apt-get update 1>/dev/null \
        && apt-get install -y \
          build-essential git cmake wget \
          clang \
          libstdc++-10-dev libssl-dev libxxhash-dev zlib1g-dev pkg-config \
          1>/dev/null 
        ls
        lscpu
        free -h

    - name: install miniconda
      run: |
        wget -q https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
        bash ~/miniconda.sh -b -p $HOME/miniconda
        eval "$(/Users/jsmith/miniconda/bin/conda shell.sh hook)"
        eval "$(/Users/jsmith/miniconda/bin/conda shell.bash hook)"
    
    - name: test miniconda
      run: |
        export PATH=${PATH}:~/miniconda/bin
        python --version
        which python

